
.login {

    position: relative;

    .login_form {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 165px 80px 0px 80px;
        text-align: center;

        h1 {
            font-size: 20px;
            color: #13141a;
            font-weight: bold;
        }

        p {
            margin-top: 26px;
            font-size: 18px;
            color: #687980;
            font-weight: 400;
        }

        .form_input {
            margin-top: 12px;
            .input_error {
                display: inline-block;
                text-align: left;
                width: 100%;
                margin-top: 4px;
                color: tomato;
            }
        }

        .form_btn {
            margin-top: 15px;
        }

        

    }
    
    .login_photo {
        position: relative;
        float: left;
        width: 50%;
        height: 500px;
        padding-top: 165px;

        .img {
            z-index: 10;
        }

        .photo_outline {
            z-index: -1;
            display: inline-block;
            position: absolute;
            top: 275px;
            left: 90px;
            width: 225px;
            height: 225px;
            display: inline-block;
            border: 10px solid #2bde73;
        }


    }
}