.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    height: 72px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.2);

    .auth {
        ul {
            li {
                display: inline-block;
                margin-right: 12px;
            }
        }
    }
}